* { margin: 0; padding: 0;}
/* a { text-decoration: none;} */
input { outline: none;}
body { overflow-y: scroll;}



.swiper-container { 
    z-index: 1;
    top: 0;
    height: 500px;
}
.swiper-slide { 
    background-position: 50% 0; 
    background-size: 100% 100%;
    display: flex;
    
}
/* .swiper-slide a { 
    display: flex; 
    justify-self: start;
    color: white;
    font-size: 46px;
    text-decoration: none;
    margin-top: 300px;
    margin-left: 100px;
    
} */
.swiper-container-horizontal > .swiper-pagination-bullets { bottom: 24px;}

.swiper-pagination-bullet { width: 6px; height: 6px; border-width: 1px; border-style: solid; opacity: 1;}

.gray .swiper-pagination-bullet { border-color: #666; background-color: #666;}
.gray .swiper-pagination-bullet-active { background-color: transparent;}

.white .swiper-pagination-bullet { border-color: #fff; background-color: #fff;}
.white .swiper-pagination-bullet-active { background-color: transparent;}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 8px;}
